my_key.txt
ok_templates/
updates/
working/
update/
tesseract
models
fonts
data2
.idea/
data_export
data_import
__pycache__/
**/__pycache__/
*.pyc
*.msgpack
data/
ok_tasks/*.backup_*
*$py.class
configs/
paddle_model/
ok/
*.dat
ok
md5.txt
update.bat
click_screenshots/
test_scripts/
screenshots/
thread_dumps.txt
*.so
*.bat
*.exe
*.manifest

# Distribution / packaging
dist/
build/
*.spec
.Python
test/
logs/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.venv/
python/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
autohelper
working_images/
pyappify/